.container_store {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.container_desc {
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: large;
}

.name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 4px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: var(--ui-color);
    padding: 2px 4px;
    border-radius: 12px;
    font-size: small;
}