.container_input {
    margin-top: 1rem;
}

.label {
    color: var(--text-color-700);
    font-size: 1rem;
}

.input {
    margin-top: 4px;
    width: 400px;
    height: 48px;
    border-radius: 8px;
    border-style: solid;
    outline: none;
    padding: 1rem;
    font-size: 1rem;
}

.input::placeholder {
    color: var(--text-color-400);
}

.invalid {
    --invalid-color : hsla(0, 100%, 60%, 0.75);
    background-color: var(--invalid-color);
    border-color: var(--invalid-color);
    color: white;
}

.invalid::placeholder {
    color: white;
}