.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background-color: var(--ui-color);
    border-radius: 24px;
    height: 48px;
    white-space: nowrap;
}

.container:hover {
    background-color: var(--ui-color-active);
    cursor: pointer;
}

.icon {
    font-size: large;
    margin-right: 4px;
}

.location_text {
    margin: 0 4px;
}

.dot {
    margin: 0 4px;
}

.time_text {
    margin: 0 4px;
}