.colors {
    --color-red: #be123c;
    --color-orange: #f97316;
    --color-lime: #a3e635;
    --color-green: #22c55e;
}

.container_bars {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.bar {
    flex: 1;
    height: 10px;
    background-color: var(--progressbar-color);
    border-radius: 1rem;
}

.red {
    background-color: #e11d48;
}
.orange {
    background-color: #f97316;
}
.lime {
    background-color: #a3e635;
}
.green {
    background-color: #22c55e;
}