.container_main {
    display: flex;
    justify-content: flex-start;
}

.sidebar {
    height: max-content;
    margin: 24px 32px;
    position: -webkit-sticky;
    position: sticky;
    top: 32px;
}

.main {
    width: 100%;
    justify-content: space-between;
    display: grid;
    margin: 24px 32px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 24px;
}