.container_main {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container_sidebar {
    position: sticky;
    top: 0;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 36px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 40px;
}

.list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 24px;
    margin: 8px;
    padding: 20px 24px;
    width: 300px;
    gap: 16px;
    font-size: large;
}

.list li:hover {
    background-color: var(--ui-color);
    cursor: pointer;
}

.list li:last-child {
    margin-top: auto;
}

.container_panel {
    width: 100%;
    background-color: var(--ui-color);
    padding: 64px;
}

.logo {
    margin: 0;
    font-size: 3rem;
}

.bold {
    color: var(--primary-color);
}